# vim temporary files
*.swp

**/__pycache__
**/__pythran__/
**/__numba__
cpp/main
cpp/main_opt
cpp/main_arrays
cpp/main_opt_algo
cpp/main_opt_all
fortran/nbabel
fortran/output*

*.so
*.mod
rust/nbabel

.vscode

profile.png
profile.pstats
output.log
target/

py/**/*.c
py/**/*.html

power/tmp

py/.venv*
.pdm-python
